body, html {
    height: 100%;
}

body {
    background-color: lightgray;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
